<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="js/vanillabox/theme/bitter_frame/vanillabox.css">
        {{page.css}}
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="js/vanillabox/jquery.vanillabox-0.1.6.min.js"></script>
        <script type="text/javascript">
         $(function(){
           $(".content img").each(function(e){
                     $(this).attr("href", $(this).attr("src"));
                     $(this).attr("title", $(this).attr('alt'));
           }).vanillabox({closeButton: true,loop: true});
         })
        </script>

    </head>
    <body>
        <div id="header">
            <div id="image"> </div>
            <div id="title">
                <h1>LeseHütte e.V.</h1>
            </div>
        </div>
        <div class="colmask threecol">
            <div class="colmid">
                <div class="colleft">
                    <div class="col1">
                        <div class="content">
                        {{ content }}
                        </div>
                    </div>
                    <div class="col2">
                        <ul id="navigation">
                            <a href=""><li>Verein</li></a>
                            <a href="aktuell"><li>Aktuell</li></a>
                            <a href="archiv"><li>Archiv</li></a>
                            <a href="presse"><li>Presse</li></a>
                            <a href="impressum"><li>Impressum</li></a>
                        </ul>
                    </div>
                    <div class="col3">
                        <div class="kontakt">
                            <h3>LeseHütte e.V.</h3>
                            <p clas="adresse">
                                LeseHütte e.V.<br>
                                Oderstr. 3<br>
                                15890 Eisenhüttenstadt<br>
                                Parkplatz im Hof
                            </p>
                            <p class="entfernt">
                                Tel.: 03364 &minus; 290 270<br>
                                Fax.: 03364 &minus; 290 271<br>
                            </p>

                            <p class="rollen">
                                1. Vorsitzender:<br>
                                <a href="mailto:hh@henrich-lipinsky.de">Heidelore Henrich</a>
                                <br><br>
                                2. Vorsitzender:<br>
                                <a href="#">Dr. Sigrun Neubert</a><br>
                            </p>
                            <p class="entfernt">
                              <a href="https://www.facebook.com/pages/LeseHütte/1498248247125464"><img src="/assets/fb-fu.png"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
        </div>
    </body>

</html>
