<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <div id="header">
            <div id="image"> </div>
            <div id="title">
                <h1>Rechtsanwälte Henrich &amp; Lipinsky</h1>
            </div>
        </div>
        <div class="colmask threecol">
            <div class="colmid">
                <div class="colleft">
                    <div class="col1">
                        {{ content }}
                    </div>
                    <div class="col2">
                        <ul id="navigation">
                            <a href="/"><li>Kanzlei</li></a>
                            <a href="/rechtsanwaelte"><li>Rechtsanwälte</li></a>
                            <a href="/mitarbeiter"><li>Mitarbeiter</li></a>
                            <a href="/fachgebiete"><li>Fachgebiete</li></a>
                            <a href="/publikationen"><li>Publikationen</li></a>
                            <a href="/kontakt_anfahrt"><li>Kontakt / Anfahrt</li></a>
                            <a href="/impressum"><li class="last">Impressum</li></a>
                        </ul>
                    </div>
                    <div class="col3">
                        <div class="kontakt">
                            <h3>Rechtsanwälte</h3>
                            <p clas="adresse">
                                Henrich &amp; Lipinsky<br>
                                Oderstraße 3<br>
                                15890 Eisenhüttenstadt<br>
                                Parkplatz im Hof
                            </p>
                            <p class="entfernt">
                                <a href="mailto:kanzlei@henrich&minus;lipinsky.de">E-Mail</a><br>
                                Tel.: 03364 &minus; 290 270<br>
                                Fax.: 03364 &minus; 290 271<br>
                            </p>

                            <div class="oeffnungszeiten">
                                <p>Montag bis Donnerstag<br>
                                    von 9.00 Uhr bis 18.00 Uhr
                                    Freitag <br>
                                    von 9.00 Uhr bis 15.00 Uhr
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
        </div>
    </body>
</html>
